@charset "UTF-8";
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* 
  Página Inicial
*/

div{
    text-align: center;
}
.saudacao{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 180px 600px 5px 20px;
    color: #354024;
}

.saudacao-nome{
    display: inline-block;

    font-family: sans-serif;
    font-size: 70px;
    padding: 20px;
    border-radius: 10px;

    color: #E5D7C4;
    background-color: #354024;
}